.content-card {
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
  background-color: #eff5f3;
}

.content-image {
  width: 100%;
  height: 250px;
}

.modal-container {
  margin-top: 1%;
  text-align: center;
}

.content-container {
  margin-top: 2%;
}

.add-content-p {
  display: inline;
  font-size: 1.1rem;
}

.modal {
  text-align: center;
}

.modal-title {
  margin-left: 15%;
}

.modal-body > * {
  padding: 5px;
}

.go-to-details-button {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 15%;
}

.go-to-details-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.details-container {
  margin-top: 2%;
}

.image-title {
  font-style: italic;
  font-weight: 100;
  color: green;
}

.details-image {
  border-radius: 10%;
  margin-top: 2%;
  width: 35rem;
}

.image-info {
  margin-top: 2%;
}

.details-text {
  font-size: 1.15rem;
  font-style: italic;
  color: green;
}

.author-miniature {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.comments-div {
  margin-top: 5%;
}

#comment-textarea {
  margin: 10px 0px 10px 0px;
}

.submit-message-button {
  width: 13rem;
  margin-left: 37%;
}
