body {
    background-color: #f8fc7e;
    color: black;
    margin-bottom: 5rem;
}

.my-nav {
    background-color: white;
}

.nav-link {
    margin-right: 5px;
}

.nav-link:hover {
    background-color: #f8fc7e;
    font-weight: bolder;
    border-radius: 7%;
}

.error-container {
    margin-top: 1rem;
}

.access-forbidden-container {
    margin-top: 3%;
}

.access-forbidden-messages > * {
    margin: 0.7rem;
}