body {
    background-color: #f8fc7e;
    color: black;
    margin-bottom: 5rem;
}

.my-nav {
    background-color: white;
}

.nav-link {
    margin-right: 5px;
}

.nav-link:hover {
    background-color: #f8fc7e;
    font-weight: bolder;
    border-radius: 7%;
}

.error-container {
    margin-top: 1rem;
}

.access-forbidden-container {
    margin-top: 3%;
}

.access-forbidden-messages > * {
    margin: 0.7rem;
}

/* *--------LOADING PAGE------------ */
.loadingContainer {
    margin-top: 6%;
}

.spinnerStyle {
    width: 125px;
    height: 125px;
}

/* *--------CONTACT PAGE-------------- */
.contact-container {
    margin-top: 3%;
    font-family: "Garamond, serif";
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.contact-info {
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: whitesmoke;
}

.contact-link {
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    border-radius: 3%;
    padding: 5px;
}

.contact-link:hover {
    font-weight: bold;
    border: 1px solid gray;
}

#adress-map {
    width: 500px;
    height: 300px;
}